body {
    font-family: Arial, sans-serif;
    background-color: rgba(130, 48, 130, 0.837);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#reloj {
    font-size: 48px;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}
